{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center animated bounceInUp">
            <img src="{{url_for('static', filename='img/cookie.jpg')}}" class="img-circle"><br />
            <h2>Hi, I'm <strong>Cookie</strong> !</h2>
            <h3>I made <strong>Mee6</strong> the discord bot.</h3>
            <h3>Cuz makin' bots is fun ;) !</h3>
            <h4>Do not hesitate to report bugs or to submit new plugin ideas !</h4>
            <h4>I'll listen to you on <a href="" target="_blank" class="btn  btn-home">Mee6's discord server</a></h4>
        </div>
    </div>
  </div>
</div>
{% endblock %}
