{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 animated bounceInLeft">
            <h3>Introducing <strong>Mee6</strong> the <img src="{{ url_for('static', filename='img/discord-logo.svg') }}" class="discord-logo2"> bot </h3>
            <h1>Release your <span id="rotating">!power,!mana,!chakra,!skill</span></h1>
            <h2>for everyone in your <img src="{{ url_for('static', filename='img/discord.svg') }}" class="discord-logo1"> server</h2>
            <p>
                <a href="{{url_for('login')}}" class="btn btn-home btn-lg">Add to discord</a>
                <a href="{{url_for('about')}}" class="btn btn-about btn-lg">About</a>
            </p>
        </div>
        <div class="col-md-5 hidden-sm hidden-xs text-center animated bounceInRight">
            <img src="{{ url_for('static', filename='img/meeseeks.png') }}">
        </div>
    </div>
  </div>
</div>
{% endblock %}
