{% extends 'dash_base.html' %}
{% block dash_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>How it works</h1>
                <div class="panel panel-primary">
                <div class="panel-body">
                  Each time you post a message you get a <strong>random</strong> number of <strong>XP</strong> between 5 and 10.<br /><br />
                  <strong>To avoid flood, you can only gain xp once per minute.</strong><br /><br />
                  In the server, you can type <strong>!rank</strong> to get your rank and your level.
                </div>
              </div>
            </div>
            <div class="col-md-9">
                <h1>Leaderboard</h1>
                <div class="list-group">
                {% for player in players %}
                <div class="list-group-item">
                  <div class="row">
                      <div class="col-md-1 col-sm-1 col-xs-1">
                          <h3><strong>#{{loop.index}}</strong></h3>
                      </div>
                      <div class="col-md-1 col-sm-1 hidden-xs" style="padding:0">
                        {% if player['avatar']!="None" %}
                        <img src="https://discordapp.com/api/users/{{player['id']}}/avatars/{{player['avatar']}}.jpg" style="width:100%" class="img-circle">
                        {%else%}
                        <img src="{{url_for('static', filename='img/no_logo.png')}}" style="width:100%" class="img-circle">
                        {%endif%}
                      </div>
                      <div class="col-md-5 col-sm-5 col-xs-6">
                          <h3>{{player['name']}} <small>#{{player['discriminator']}}</small></h3>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                          <center><h5>{{player['xp']}} / {{player['lvl_xp']}} <strong>XP</strong> [{{player['total_xp']}} total]</h5></center>
                          <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" style="width: {{player['xp_percent']}}%"></div>
                          </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2">
                          <h3>Level {{player['lvl']}}</h3>
                      </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

        </div>
    </div>

{% endblock %}
