{% import 'macros/plugin.html' as plugin %}
<h3>Plugins</h3>
<div class="list-group">
  {{ plugin.view(
      'Commands',
      view='plugin_commands',
      description='Add and manage your <strong>AWESOME</strong> custom commands !',
      server=server,
      enabled_plugins=enabled_plugins
      )}}
      {{ plugin.view(
          'Levels',
          view='plugin_levels',
          description='Let your members gain <strong>XP</strong> and <strong>levels</strong> by participating in the chat !',
          server=server,
          enabled_plugins=enabled_plugins
          )}}
          {{ plugin.view(
              'AnimuAndMango',
              pretty_name='Animu and Mango',
              view='plugin_animu',
              description='Search the web for your favorite anime and manga.',
              server=server,
              enabled_plugins=enabled_plugins
              )}}
          {{ plugin.view(
              'Help',
              pretty_name='Help Me!',
              view='plugin_help',
              description='Enables the <strong>!help</strong> command.',
              server=server,
              enabled_plugins=enabled_plugins
              )}}
          {{ plugin.view(
              'Welcome',
              view='plugin_welcome',
              description='Display a welcome message for members that have joined the server!',
              server=server,
              enabled_plugins=enabled_plugins
              )}}
      {{ plugin.view(
          'Lol',
          view='plugin_lol',
          pretty_name='League of Legends',
          description='Get the rank of a player at any time.',
          soon=True,
          server=server,
          enabled_plugins=enabled_plugins
          )}}

</div>
