{% extends 'dash_base.html' %}
{% block dash_content %}
    <div class="container">
        <div class="row">
            {% include 'sidebar.html' %}

            <div class="col-md-8">
                <h3>Help Me! <a href="?disable=1" class="btn btn-warning btn-xs">Disable</a></h3>
                {% include 'flash.html' %}
                <center>
                <p>
                    <img src="https://media.giphy.com/media/WRflm1O6tvbnG/giphy.gif">
                    <h1>Type <strong>!help</strong> in your chat ;) !</h1>
                </p>
                </center>
            </div>

        </div>
    </div>

{% endblock %}
