
<h3>Plugins</h3>
<div class="list-group">
  <a href="{{url_for('plugin_commands', server_id=server.id)}}" class="commands list-group-item">
    {% if 'Commands' in enabled_plugins %}
    <span class="badge enabled">Enabled</span>
    {% else %}
    <span class="badge disabled">Disabled</span>
    <script>
    $('.commands').click(function(e) {
        e.preventDefault();
        var $link = $(this);
        bootbox.confirm("Enable the plugin ?", function (confirmation) {
            confirmation && document.location.assign($link.attr('href'));
        });
        });
    </script>
    {% endif %}
    <h4 class="list-group-item-heading">Commands</h4>
    <p class="list-group-item-text">Add and manage your <strong>AWESOME</strong> custom commands !</p>
  </a>
  <a href="#" class="list-group-item">
    {% if 'Levels' in enabled_plugins %}
    <span class="badge enabled">Enabled</span>
    {% else %}
    <span class="badge disabled">Disabled</span>
    {% endif %}
    <h4 class="list-group-item-heading">Levels</h4>
    <p class="list-group-item-text">Let your members gain <strong>XP</strong> and <strong>levels</strong> by participating to the chat !</p>
  </a>
  <a href="#" class="list-group-item">
      {% if 'Help' in enabled_plugins %}
      <span class="badge enabled">Enabled</span>
      {% else %}
      <span class="badge disabled">Disabled</span>
      {% endif %}
    <h4 class="list-group-item-heading">Help me !</h4>
    <p class="list-group-item-text">Enables the <strong>!help</strong> command.</p>
  </a>
  <div class="list-group-item">
      <span class="badge soon">Soon</span>
    <h4 class="list-group-item-heading">League Of Legends</h4>
    <p class="list-group-item-text">Get the rank of a player at any time.</p>
  </div>
</div>
